

.firmware_flasher_flashing_status_component{


  display: inline-block;
  margin-left: 5%;

  border: 1px solid #00af41;

 

 height:100%;
 max-height: 300px;


 min-width: 500px;

 vertical-align: top;

 background-color: white;

}

.firmware_flasher_flashing_status_component_tittle{

 background-color: #00af41;
  color: white;
  font-family: "Proxima Nova Regular",Helvetica,Arial, sans-serif;  

height: 30px;

text-align: center;

padding-top: 3px;



}

.firmware_flasher_flashing_status_component_log_content{

    overflow:scroll;
    max-height: 200px;
    margin-top:7px;

}

.firmware_flasher_flashing_status_component_log_status{


      margin: 20px 20px;
      font-weight: bold;
      font-size: 16px;


}

.close_icon{

    float:right;
    background-image: url('/build/static/robbo_assets/icon_close_window.png');
    width: 27px;
    height: 27px;

    cursor: pointer;

}
