.otto_palette{

    display: inline-block;
    margin-left: 5%;

   
    border: 1px solid #00af41;

   height:100%;

   min-width: 330px;

   vertical-align: top;

   background-color: white;

}

.otto_panel_tittle{



    height: 30px;

    text-align: center;

    background-color: #00af41;
    color: white;
    font-family: "Proxima Nova Regular",Helvetica,Arial, sans-serif;
    /* vertical-align: middle; */
    padding-top: 3px;

}

.close_icon{

    float:right;
    background-image: url('/build/static/robbo_assets/icon_close_window.svg');
    width: 16px;
    height: 16px;

    margin-right: 4px;
    margin-top: 4px;

    cursor: pointer;

}
