.ottoPreview{

  display: inline-block;

  border: 2px outset rgba(0,0,0,0.5);

  /*box-shadow: 4px 4px 10px rgba(0,0,0,0.5);*/

  height:30px;
  width:80px;

  vertical-align: top;

  margin-top: 5px;
  margin-left: 20px;


}


.otto_connection_status{

    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    margin: 5px 5px;
    min-height: 15px;
    min-width: 15px;
}

.otto_status_connected{

    background-color: green;

}

.otto_status_disconnected{

    background-color: red;

}


.otto_loading_icon{

     background-image: url(/build/static/robbo_assets/searching.gif);
    /* background-size: 30px; */
    min-width: 20px;
    min-height: 20px;
    /* max-width: 30px; */
  /*  display: inline-block; */
    margin-left: 5px;
    margin-right: 5px;



}

.ottoPreviewPic{

  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  vertical-align: middle;

}

.otto_loading_icon_hidden{

      display:none;

}

.otto_loading_icon_showing{

     display: inline-block;
}
