.robbo_gui{

    width:100%;


}

.content_collapsed{

    height:auto;


}

@media (max-height:900px) {

  .content_expand{


      height:40%;


  }

}

@media (min-height:901px) {

  .content_expand{


      height:15%;


  }

}



.robbo_search_devices{

  position: absolute;
  top:1%;
  left:650px;

  width:200px;
  height: 30px;

    color: white;
    background-color: #005700;
    border-radius: 10px;

}

.version{


      font-size: 10pt;
      font-weight: bold;
      margin-left: 20px;
      margin-top: 20px;
      position:absolute;
      top:1px;
      right:10px;
}
