.robbo_menu{

  position: absolute;
  top:10%;
  left:30%;
  background-color: rgb(50,50,50);

}

.robbo_menu_item{

      margin-top: 3px;
      margin-bottom: 3px;
      font-size: 14pt;
}

.robbo_menu_item:hover{

      background-color: rgb(100,100,100);

}
