
@import "../css/colors.css";


.robbo_menu{

  position: absolute;
  /*top:4.8%;*/
  top:48px;
  left:355px;
/*  background-color: rgb(90,90,90);*/
  background-color: #00af41;

  border: 0.2px solid rgba(0,0,0,0.5);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;



  box-shadow: 0px 6px 10px rgba(0,0,0,0.5);

  /*color:#383838;*/
  color:white;

  font-weight:bold;

  font-size: 10px;

}

.robbo_menu_item{

      margin-top: 7px;
      margin-bottom: 7px;
      margin-left: 3px;
      margin-right: 3px;

      padding-left: 5px;
      padding-right: 5px;

      font-size: 11pt;
}

.robbo_menu_item:hover{

      background-color:  $ui-black-transparent;

}

.robbo_menu_show{

    display: block;
}

.robbo_menu_hidden{


    display: none;
}

.hrDevider{

        color:#383838;
        background-color: #383838;
        border: 0.2px solid #383838;
}
