
.search_panel_device_component{



}

.device_flash_button{

  min-height: 30px;

 min-width: 130px;
 /*text-align: left;*/

    background-color: #00af41;
    background-image: -webkit-linear-gradient(top,#00af41,#008a00);

    border-radius: 7px;

    color:white;

}

.search_panel_device_status_icon{

    display: inline-block;
    min-width: 30px;
    padding-left: 3px;
    padding-right: 3px;
    margin-bottom: 7px;
    margin-top: 7px;
}

.search_panel_flashing_show_details{

      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 7px;
      margin-top: 7px;
      min-width: 30px;
      min-height: 30px;
      background-image: url("/build/static/robbo_assets/show_details.svg");
      background-repeat: no-repeat;
      position: relative;
      top: 20px;

}

@media (max-height:900px) {

  .search_panel_device_element{

      display: inline-block;
      padding-left: 3px;
      padding-right: 3px;
      margin-bottom: 7px;
      margin-top: 7px;
      min-width: 90px;

  }

  .search_panel_flashing_status{

      display: none;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 7px;
      margin-top: 7px;
      min-width: 30px;
      min-height: 30px;

  }

}

@media (min-height:901px) {

  .search_panel_device_element{

      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 7px;
      margin-top: 7px;
      min-width: 90px;

  }

  .search_panel_flashing_status{

      display: none;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 7px;
      margin-top: 7px;
      min-width: 30px;
      min-height: 30px;

  }
}